extends layout

block navigation
  include navbar_profile.jade

block content
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item Students
            a(href='#') 
          li.breadcrumb-item.active List of students
        // List of files to download
        .row(style="min-height: 992px;")
          .card.mb-auto.mx-auto(style="min-width: 800px;")
            .card-header.bg-dark.text-white
              i.fa.fa-table
              |  List of all registered students
            .card-body
              -if(messages.error)
                div.alert.alert-danger 
                  | !{messages.error}
              -if(messages.success)
                div.alert.alert-success 
                  | !{messages.success}
              .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                thead
                  tr
                    th No
                    th Frst name
                    th Last name 
                    th Email
                    th Language
                    th Level
                    th Delete
                tfoot
                  tr
                    th No
                    th Frst name
                    th Last name 
                    th Email
                    th Language
                    th Level
                    th Delete
                tbody
                  -if (data) 
                    each user in data
                      tr
                        td !{data.indexOf(user) + 1}
                        td !{user.firstName}
                        td !{user.lastName}
                        td !{user.email}
                        td !{user.language}
                        td !{user.level}
                        td
                          div(style="float:left")
                            form(method="post", action="/students/delete/"+user.id, style="float:right")
                              input(type="submit", name="delete", value="Delete" onClick="return confirm('Are you sure you want to delete?')")
                              input(type="hidden", name="_method" value="DELETE")
                .card-footer.small.text-muted.bg-dark
                  //| Updated yesterday at 11:59 PM
            
      
  
  